[Unit]
Description=Spectrum (a getway to metronome)
After=syslog.target
After=network.target
After=mysqld.service
After=metronome.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/usr/bin/spectrum2_manager start
ExecReload=/usr/bin/spectrum2_manager reload
ExecStop=/usr/bin/spectrum2_manager stop
PIDFile=/var/run/spectrum2/transwhat.DOMAIN.pid
Environment="PYTHON_EGG_CACHE=/opt/yunohost/transwhat/"

[Install]
WantedBy=multi-user.target